@charset "utf-8";
/* CSS Document */
.right{
  padding:10px 40px;
  float:left;
  height:440px;
  width:840px;
  }
   .right_top{
	   margin-left:20px;
	   height:30px;
	   width:700px;
	   }
   .xiangji{
	   width:30px;
	   height:25px;
	   padding-top:5px;
	   float:left;
   }
   .wenzi{
	   width:200px;
	   height:30px;   
	   float:left;
	   line-height:30px;
	   font-size:18px;
	   font-weight:bolder;
		   
   }
   .xiantiao{
	   height:3px;
	   width:840px;
	}
	   .sanjiao{
		   font-size:14px;
	       font-weight:bolder;
	       color:#1E5DBA;
		   margin-top:30px;
		   weight:840px;
		   margin-left:-34px;
		   }
		   
		.sanjiao input{
			width:200px;
			font-family:"微软雅黑";
			padding:4px;	
			margin-left:10px;
		}
		.sanjiao span{
			margin-left:100px;	
		}
   .xuxian{
	   margin-top:200px;
	   color:#1E5DBA;
	   height:40px;
	   width:840px;
	   line-height:60px;
	   border-bottom:dashed #999999 1px;
	   font-size:14px;
	   font-weight:bolder;
   }
   a:link,a:visited{
	   color:#1E5DBA;
	   text-decoration:none;
	   }
   a:hover{
	   text-decoration:none;
	   color:#F03;
	 
	   }


