@charset "utf-8";
/* CSS Document */
.right{
	padding:10px 40px;
	float:left;
	height:440px;
	width:840px;
	}
.right_top{
	margin-left:20px;
	height:20px;
	width:700px;
	}
.xiangji{
	width:30px;
	height:20px;
	padding-top:5px;
	float:left;
	}

.wenzi{
	width:200px;
	height:28px;   
	float:left;
	line-height:30px;
	font-size:16px;
	font-weight:bolder;
	color:#000;
	}
.xiantiao{
	height:3px;
	width:840px;
	}
.sanjiao{
	font-size:14px;
	font-weight:bolder;
	color:#1E5DBA;
	margin-top:40px;
	weight:840px;
	}

.sanjiao input{
	width:250px;
	font-family:"微软雅黑";
	padding:4px;	
	margin-left:20px;
	}
.sanjiao img{
	margin-left:30px;	
	}
.sanjiao span{
	margin-left:100px;	
	}
.xuxian{
	color:#1E5DBA;
	height:40px;
	width:810px;
	line-height:60px;
	border-bottom:dashed #999999 1px;
	font-size:13px;
	font-weight:bolder;
	}
.xuxian img{
	margin-left:30px;   
	}
.xuxian span{
	margin-left:20px;
	}
}

