@charset "utf-8";
/* CSS Document */

#headline{
	width:1000px;
	margin:0 auto;	
}

#left{
	width:450px;
	height:auto;
	display:inline;
	float:left;
	
}

#content{
	width:800px;
	
	margin:0 auto;

	height:700px;
	margin-left:170px;
	
	
}
table{
	width:550px;
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
 th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #FFF
	background-color: #dedede;
}
td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
#right{
	width:550px;
	padding-top:30px;
	height:auto;

float:left;
}
#left_bottom{
	width:400px;

	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	
	height:auto;

	font-size:12px;
}
