@charset "utf-8";
/* CSS Document */
.right{
	 margin-left:10px;
  padding:10px 80px;
  float:left;
  height:440px;
  width:840px;
  line-height:38px;
  }
  .text_font{
	   color:#1E5DBA;
	   font-weight:bolder;
	   font-size:14px; 
	  }
   .right_top{
	   margin-left:20px;
	   height:30px;
	   width:700px;
	   }
   .xiangji{
	   width:30px;
	   height:25px;
	   padding-top:5px;
	   float:left;
   }
   .wenzi{
	   width:200px;
	   height:30px;   
	   float:left;
	   line-height:30px;
	   font-size:16px;
	   font-weight:bolder;
		   
   }
   .xiantiao{
	   height:3px;
	   width:840px;
		 margin-top:-300px;
	}
   .xuxian{
	   color:#1E5DBA;
	   height:40px;
	   width:840px;
	   border-bottom:dashed #999999 1px;
	   font-size:13px;
	   font-weight:bolder;
		 margin-top:1px;
   }
   a:link,a:visited{
	   color:#1E5DBA;
	   text-decoration:none;
	   }
   a:hover{
	   text-decoration:none;
	   color:#F03;
	 
	   }



