@charset "utf-8";
/* CSS Document */
.right{
	padding:10px 40px;
	float:left;
	height:440px;
	width:840px;
	}
.right_top{
	margin-left:20px;
	height:20px;
	width:700px;
	}
 .xiangji{
	width:30px;
	height:20px;
	padding-top:5px;
	float:left;
	}

.wenzi{
	width:200px;
	height:28px;   
	float:left;
	line-height:30px;
	font-size:16px;
	font-weight:bolder;
	color:#000;
	}
.xiantiao{
	height:3px;
	width:840px;
	}

.xuxian{
	color:#1E5DBA;
	height:40px;
	width:810px;
	line-height:60px;
	font-size:13px;
	font-weight:bolder;
	}
.xuxian span{
	margin-left:20px;
	}
